.logo-code-ox {
    width: 120px;
}

.nav-code-ox {
    color: #000;
}

.services-img {
    width: 80px;
}
@media (max-height: 812px) {
    .code-ox-height {
        height: 700px;
    }
} 
@media (max-height: 712px)  {
    .code-ox-height {
        height: 500px;
    }
}
@media (max-width: 991px) {
    .img-phone {
        width: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .offcet-art-phone {
        display: none;
    }

    .offcet-art-dark {
        background: rgba(0, 0, 0, 0.0);
    }
    .offcet-art-dark-phone {
        color:#777777;
    }

}