.logo-code-ox {
    width: 120px;
}
#preloader-code-ox {
  /* width: 500px;   */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  /* background-color: #fff; */
  z-index: 99999999999;
  height: 100%;
  width: 100%;
  overflow: hidden;
} 
.nav-code-ox {
    color: #000;
}

.services-img {
    width: 80px;
}
@media (max-height: 812px) {
    .code-ox-height {
        height: 500px;
    }
    .img-code-ox-responsive {
        max-width: 75%;
    }
} 
@media (max-height: 712px)  {
    .code-ox-height {
        height: 500px;
    }
    .img-code-ox-responsive {
        max-width: 75%;
    }
}
@media (max-width: 991px) {
    .img-phone {
        width: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .offcet-art-phone {
        display: none;
    }

    .offcet-art-dark {
        background: rgba(0, 0, 0, 0.0);
    }
    .offcet-art-dark-phone {
        color:#000000;
    }

}